<strong><h1 >Cadastro de Curso</h1></strong>

<strong><h5>Preencha os campos para cadastro de curso</h5></strong>

<!--[formGroup]="formCadastro" antigo formgroup-->
<form class="" [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

<div *ngIf="mensagem" class="mb-3 alert alert-primary">

  <strong>{{mensagem}}</strong>


</div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" formControlName="descricao" placeholder="name@example.com">
      <label for="floatingInput">Descrição</label>
      <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
        <span *ngIf="form.descricao.errors.required">
            Informe a descrição do curso
        </span>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" formControlName="dataInicio" placeholder="name@example.com">
      <label for="floatingInput">Data de Início</label>
      <div class="text-danger" *ngIf="form.dataInicio.touched && form.dataInicio.invalid">
        <span *ngIf="form.dataInicio.errors.required">
            Informe a Data de Início do curso
        </span>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" formControlName="dataTermino" placeholder="name@example.com">
      <label for="floatingInput">Data de Término</label>
      <div class="text-danger" *ngIf="form.dataTermino.touched && form.dataTermino.invalid">
        <span *ngIf="form.dataTermino.errors.required">
            Informe a Data de Término do curso
        </span>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" formControlName="quantidadeAlunos" placeholder="name@example.com">
      <label for="floatingInput">Quantidade de Aluno</label>
      <div class="text-danger" *ngIf="form.quantidadeAlunos.touched && form.quantidadeAlunos.invalid">
        <span *ngIf="form.quantidadeAlunos.errors.required">
            Informe a quantidade de alunos do curso
        </span>
      </div>
    </div>

    <div class="mb-3" >
      <label for="categorias">Categoria</label>
      <select class="form-control" formControlName="categoria" id="categorias">

        <option *ngFor="let categoria of categorias" value="{{categoria.idcategoria}}">{{categoria.categoria}}</option>

      </select>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" [disabled]="!formCadastro.valid" class="btn btn-success"
            value="Realizar o Cadastro">
        </div>
    </div>
</form>

<div class="row mb-3">
  <div class="col-md-12">
    <a href="http://localhost:4200/pagina-principal"><button class="btn btn-danger">Voltar</button></a>
  </div>
</div>


