*margin{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/teste.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.85;
}
